  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Search Product</mat-label>
      <input type="text"
             formControlName="searchProduct"
             placeholder="Pick one"
             aria-label="Search"
             matInput
             [autocomplete]="">
      <button type="submit" mat-button matSuffix color="primary" [disabled]="searchForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
