<mat-toolbar color="tertiary" class="navbar">
  <span class="navbar-brand">E-Commerce</span>
  <span class="spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="analytics" routerLinkActive="active">Register</button>
    <button mat-button routerLink="category" routerLinkActive="active">category</button>
    <button mat-button routerLink="product" routerLinkActive="active">product</button>
    <button mat-button routerLink="orders" routerLinkActive="active">orders</button>
    <button mat-button routerLink="post-coupon" routerLinkActive="active">Post Coupon</button>
    <button mat-button routerLink="counpons" routerLinkActive="active">Counpons</button>
    <button mat-button routerLink="/login" (click)="logout()">Logout</button>
  </mat-toolbar>

  <router-outlet></router-outlet>
