
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.search-product{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-show-all{
  margin-bottom: 12px;
}




